@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Noto Sans, sans-serif;

    --color-hlorange: 28deg 97% 53%;
    --color-portalblue: 202deg 100% 50%;

    --color-light: 0deg 0% 100%;
    --color-dark: 0deg 0% 0%;
  }
}

html {
  height: 100vh;
  width: 100vw;
}

.btn {
  @apply h-8 w-auto flex items-center transition px-4 rounded-full shadow shadow-slate-800 bg-gradient-to-tr from-hlorange to-orange-700 text-white text-lg font-bold;

  &:hover {
    @apply scale-105 bg-gradient-to-tr from-orange-700 to-orange-800 shadow-slate-700 shadow-md transition [text-shadow:_1px_1px_0_rgb(0_0_0_/_40%)] ;
  }
  &:active{
    @apply scale-100 bg-gradient-to-t from-hlorange to-hlorange shadow-slate-950 shadow-sm;
  }
}

.glass {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.term-locator{
  @apply font-bold text-hlorange bg-slate-700 px-1;
}

.term-txt {
  @apply text-emerald-400 bg-slate-700;
}

.term-cursor{
  @apply border-r-4 border-emerald-400 animate-pulse animate-duration-300;
}

.firafont{
  font-family: "Fira Code", monospace;

}
.language-bash {
  font-size: 1.2rem;
  font-family: "Fira Code", monospace;
}