@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Noto Sans, sans-serif;
    --color-hlorange: 28deg 97% 53%;
    --color-portalblue: 202deg 100% 50%;
    --color-light: 0deg 0% 100%;
    --color-dark: 0deg 0% 0%;
    --color-space: 237deg 17% 25%;
  }
}

main{
  margin: 5rem auto;
}

.btn {
  @apply font-bold text-white bg-orange-800 invert px-4 py-2 rounded-full shadow-md flex items-center justify-center size-fit text-center;
  @apply dark:bg-abyss dark:invert-0 shadow-sm shadow-amber-100;
  @apply hover:bg-space hover:shadow hover:shadow-white transition-all duration-200;
}

.term-locator {
  @apply font-bold text-hlorange px-1;
}

.term-txt {
  @apply text-powcyan;
}

.term-cursor {
  @apply border-r-4 animate-pulse animate-duration-300;
}

article {
  & p {
    @apply text-justify text-lg;
    @apply bg-gradient-to-r text-transparent bg-clip-text from-lostdeepwine via-lostwine to-lostdeepwine;
    @apply dark:from-lostcyan dark:via-powcyan dark:to-lostcyan;
  }
  & img {
    @apply h-48 w-full mx-auto my-4;
    @apply lg:size-72 mx-auto my-4;
    @apply object-cover;
    @apply rounded-2xl shadow-lg;
  }

  &#tech span{
    @apply shadow hover:bg-abyss;
    @apply cursor-pointer;
  }
}

